body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  color: #333;
}

h1 {
  text-align: center;
  color: #3a3a3a;
}

#malla {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 30px;
}

.curso {
  padding: 10px;
  background-color: #b0c0aa;
  border: 2px solid #95a98e;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  font-size: 0.9em;
}

.curso:hover {
  background-color: #95a98e;
  color: white;
}

.curso.aprobado {
  background-color: #7ca77b;
  color: white;
  border-color: #5e865d;
  text-decoration: line-through;
}

.curso.bloqueado {
  background-color: #ddd;
  color: #888;
  border-color: #bbb;
  cursor: not-allowed;
}

